[project]
	description = Test Publish message
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/tmoklohar
[access "refs/for/refs/*"]
	read = group user/tmoklohar
	push = group user/tmoklohar
	label-Code-Review = -2..+2 group user/tmoklohar
	label-Verified = -1..+1 group user/tmoklohar
	rebase = group user/tmoklohar
	removeReviewer = group user/tmoklohar
	submit = group user/tmoklohar
[access "refs/heads/*"]
	read = group user/tmoklohar
	create = group user/tmoklohar
	push = +force group user/tmoklohar
	pushMerge = group user/tmoklohar
[access "refs/tags/*"]
	push = +force group user/tmoklohar
	pushTag = group user/tmoklohar
	pushSignedTag = group user/tmoklohar
